DATABASE_URL=""
REDIS_DATABASE_URI=""
SMTP_USER=""
SMTP_PASS=""
SMTP_PORT=465
SMTP_SERVICE=gmail
SMTP_HOST=smtp.gmail.com
ACCESS_TOKEN_SECRET=""
REFRESH_TOKEN_SECRET=""
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
USER_APP_URL=http://192.168.1.155:3000
CORS_ORIGIN=http://localhost:3000,http://192.168.1.155:3000
STRIPE_SECRET_KEY=""
